body{
    font-family: "Bokor", system-ui;
    background-color: white;
    color: red;
    margin: 0px;
    margin-bottom: 100px;   
}
.chamada{
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
header{
    font-size: 40px;
    color: red;
    border-bottom: 3px solid black;
    padding: 20px;
}
h1{
    font-size: 35px;
}
.chamada-texto{
    margin-right: 5%;
}